<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kulongtai.mpstore.mapper.ComboSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kulongtai.mpstore.entity.ComboSku">
        <id column="id" property="id" />
        <result column="combo_sku_id" property="comboSkuId" />
        <result column="sku_id" property="skuId" />
        <result column="origin_price" property="originPrice" />
        <result column="discount_price" property="discountPrice" />
        <result column="sku_num" property="skuNum" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, combo_sku_id, sku_id, origin_price, discount_price, sku_num, create_time
    </sql>

</mapper>
