<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kulongtai.mpstore.mapper.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kulongtai.mpstore.entity.Cart">
        <id column="cart_id" property="cartId" />
        <result column="user_id" property="userId" />
        <result column="sku_id" property="skuId" />
        <result column="sku_num" property="skuNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_id, user_id, sku_id, sku_num
    </sql>

</mapper>
